.back-btn {
  grid-area: overlay;
  align-self: start;
  justify-self: start;

  background-color: var(--color-overlay);
  backdrop-filter: blur(8px);

  display: grid;
  place-content: center;
  block-size: 3.5rem;
  inline-size: 3.5rem;

  margin-block-start: 1.5rem;
  margin-inline-start: 1.5rem;

  border-radius: 999rem;

  svg {
    font-size: 1.5rem;
    color: var(--color-white);
  }
}
