.step-input {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 0.5rem;

  .aside-actions {
    display: grid;
    align-content: start;
    gap: 1rem;

    svg {
      font-size: 1.5rem;
    }

    .circle {
      background-color: var(--color-text);
      color: var(--color-white);

      display: grid;
      place-content: center;

      block-size: 1.5rem;
      inline-size: 1.5rem;

      border-radius: 999rem;
    }
  }

  .step-content {
    display: grid;
    gap: 0.5rem;
  }
}
