.steps {
  display: grid;
  gap: 1.5rem;

  .step-input {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;

    .first-column {
      display: grid;
      align-content: start;
      place-items: center;
      gap: 0.5rem;

      .circle {
        background-color: var(--color-text);
        border-radius: 999rem;
        display: grid;
        place-content: center;

        block-size: 1.75rem;
        inline-size: 1.75rem;

        color: var(--color-white);
      }

      .drag-icon {
        display: grid;
        place-content: center;

        block-size: 1.5rem;
        inline-size: 1.5rem;
      }
    }

    .upload {
      display: grid;
      gap: 0.5rem;
    }
  }
}
