.recipe-form {
  display: grid;
  gap: 1.5rem;

  .section {
    display: grid;
    gap: 0.5rem;

    > span {
      color: var(--color-danger);
    }
  }

  hr {
    border: 0.25rem solid var(--color-form);
  }

  .buttons {
    padding-block-start: 1.75rem;

    display: flex;
    gap: 1rem;

    a,
    button {
      flex: 1;
    }
  }
}
