.recipe-form {
  display: grid;
  gap: 1.5rem;

  hr {
    border: 0.25rem solid var(--color-form);
  }

  .actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    margin-block-start: 1.5rem;
  }
}
