.success-modal {
  background-color: var(--color-white);

  inline-size: calc(min(var(--layout-size-2), 100%) - 3rem);

  .content {
    display: grid;
    justify-content: center;

    inline-size: min(20rem, 100%);

    margin: auto;
    padding: 3rem 1rem;

    img {
      block-size: 10rem;
      inline-size: 10rem;
      object-fit: cover;

      margin: 0 auto 2rem;
    }

    .writings {
      display: grid;
      gap: 0.5rem;

      margin-block-end: 1.5rem;

      text-align: center;
    }
  }
}
