.recent-recipes {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .scroll-recipes {
    block-size: 10rem;
    overflow: auto;

    > ul {
      display: grid;
      gap: 1rem;
    }

    > p {
      text-align: center;
      padding-block: 0.5rem;
    }
  }
}
