.ingredient-input {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 0.5rem;

  .aside-actions {
    display: grid;
    gap: 0.5rem;

    svg {
      font-size: 1.5rem;
    }
  }
}
