.select {
  --adornment-color: var(--color-text);
  --border-color: var(--color-outline);

  background-color: var(--color-white);
  color: var(--color-text);

  inline-size: 100%;

  padding: calc(1rem - 1px);

  border: 1px solid var(--border-color);
  border-radius: 0.5rem;

  font-size: 0.9375rem;
  font-weight: 500;

  line-height: 1.5rem;

  option {
    color: inherit;
  }

  &.success {
    --adornment-color: var(--color-primary);
    --border-color: var(--color-primary);
  }

  &.error {
    --adornment-color: var(--color-danger);
    --border-color: var(--color-danger);
  }

  &:focus {
    outline: 1px solid var(--adornment-color);
    outline-offset: -2px;
  }
}
