.tags {
  display: grid;
  gap: 1rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  main {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
