.tags {
  > main {
    padding: 1.5rem;

    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
      gap: 0.5rem;

      > li {
        display: contents;

        > a {
          white-space: nowrap;
        }
      }
    }
  }
}
