.popular-recipes {
  header {
    display: grid;
    justify-items: start;
    gap: 1rem;

    .back-button {
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      color: inherit;

      isolation: isolate;

      font-size: 1.5rem;
    }

    .title {
      grid-column: 1 / -1;
      grid-row: 1 / -1;

      inline-size: 100%;

      text-align: center;
    }
  }

  main {
    margin-block-start: 1rem;

    > p {
      text-align: center;
    }
  }
}
