.user-badge {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  > img {
    block-size: 1.5rem;
    inline-size: 1.5rem;

    border-radius: 999rem;
  }

  &.large {
    > img {
      block-size: 2rem;
      inline-size: 2rem;
    }
  }
}
