.auth-validation {
  display: grid;
  gap: 0.5rem;

  margin-block: 1rem;

  .rules {
    display: grid;
    gap: 0.25rem;

    .rule {
      color: var(--color-text-secondary);

      display: flex;
      align-items: center;
      gap: 0.5rem;

      &.valid {
        color: var(--color-text);
      }
    }
  }
}
