.recipe {
  > main {
    position: relative;

    display: grid;
    grid-template-areas: "overlay";

    block-size: 100dvh;

    .cover-img {
      grid-area: overlay;

      block-size: 23.5rem;
      inline-size: 100%;
      object-fit: cover;
    }
  }
}
