.drawer {
  inset-block-start: unset;

  inline-size: calc(min(var(--layout-size-2), 100%) - 3rem);

  margin-inline: auto;

  border: none;
  border-start-start-radius: 2rem;
  border-start-end-radius: 2rem;

  &::backdrop {
    background-color: var(--color-backdrop);
    backdrop-filter: blur(2px);
  }
}
