.step {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;

  .aside-step-actions {
    display: grid;
    place-items: center;
    align-content: start;
    gap: 1rem;

    svg {
      display: grid;
      place-content: center;

      block-size: 1.5rem;
      inline-size: 1.5rem;
    }

    .circle {
      background-color: var(--color-text);
      color: var(--color-white);

      display: grid;
      place-content: center;

      block-size: 1.5rem;
      inline-size: 1.5rem;

      border-radius: 999rem;
    }
  }

  .step-content {
    display: grid;
    gap: 0.5rem;

    > button {
      display: flex;
      align-items: center;

      cursor: pointer;

      > input {
        display: none;
      }
    }
  }
}
