.step-input {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;

  .first-column {
    display: grid;
    place-items: center;
    align-content: start;
    gap: 0.5rem;

    .circle {
      background-color: var(--color-text);
      color: var(--color-white);

      display: grid;
      place-content: center;

      block-size: 1.75rem;
      inline-size: 1.75rem;

      border-radius: 999rem;
    }

    .drag-icon {
      display: grid;
      place-content: center;

      block-size: 1.5rem;
      inline-size: 1.5rem;
    }
  }

  .upload {
    display: grid;
    gap: 0.5rem;
  }
}
