.upload-image {
  --border-radius: 1rem;

  background-color: var(--color-white);

  position: relative;
  isolation: isolate;

  display: block;

  border-radius: var(--border-radius);

  cursor: pointer;

  &:has(.blank) {
    border: 2px dashed var(--color-outline);
  }

  input {
    display: none;
  }

  .blank,
  .preview {
    block-size: 100%;

    padding: 1rem;

    img {
      border-radius: var(--border-radius);
    }
  }

  .preview {
    position: relative;

    display: grid;
    align-content: start;
    justify-content: end;

    img {
      position: absolute;
      inset: 0;
      z-index: -1;

      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }

    .edit-icon {
      color: var(--color-white);

      position: absolute;
      inset: 0;

      margin: auto;

      font-size: 2rem;
    }

    .remove-button {
      background-color: var(--color-form);
      color: var(--color-danger);

      border-radius: 0.25rem;

      font-size: 2rem;
    }
  }

  &.simple {
    .blank {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;

      padding: 1rem;
    }

    .preview {
      block-size: 10rem;

      padding: 1rem;
    }
  }

  &.complex {
    block-size: 10rem;

    .blank {
      display: grid;
      align-content: center;
      justify-items: center;
      gap: 0.25rem;

      text-align: center;

      > svg {
        font-size: 3rem;
      }
    }
  }

  &.profile {
    --border-radius: 999rem;

    block-size: 8rem;
    inline-size: 8rem;

    .blank {
      display: grid;
      align-content: center;
      justify-items: center;
      gap: 0.25rem;

      text-align: center;

      > svg {
        font-size: 3rem;
      }
    }

    .preview {
      .remove-button {
        background-color: transparent;

        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
      }
    }
  }
}
