.content {
  display: grid;
  gap: 2rem;

  padding-block-end: 2rem;

  header {
    text-align: center;
  }

  form {
    display: grid;
    gap: 2rem;

    .label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .actions {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
