.filters-drawer {
  header {
    text-align: center;
  }

  .content {
    display: grid;
    gap: 1.5rem;

    .label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .action {
      /* display: flex;
      align-items: center;
      justify-content: space-between; */
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
}
