.tag-input {
  display: grid;
  gap: 1rem;

  select {
    inline-size: 100%;

    padding: 0.25rem 0.5rem;

    text-transform: capitalize;

    option {
      color: var(--color-text);

      padding: 0.25rem 0.5rem;
    }
  }
}
