.user-head {
  display: grid;
  justify-items: center;
  gap: 1.5rem;

  .picture {
    block-size: 4.5rem;
    inline-size: 4.5rem;
    object-fit: cover;

    border-radius: 999rem;
  }

  .button {
    min-inline-size: 15rem;
  }
}
