.ingredients-input {
  display: grid;
  gap: 2rem;

  .ingredients {
    overflow: hidden;

    display: grid;
    gap: 1.5rem;
  }

  .add {
    .icon {
      font-size: 2em;
      font-weight: 400;

      text-box-edge: cap alphabetic;
      text-box-trim: trim-start;
    }
  }
}
